/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.outerbox{
    max-width: 1000px;
    margin: 0 auto;
    background-color: white;
}
.header{
    background-color:#686666;
    margin-bottom: 20px;
    padding: 20px;
}
.heading{
    font-family: 'Times New Roman', Times, serif;
}
.subhead{
    color: #c6a3c7;
}
h2{
    font-family: 'Times New Roman', Times, serif;
}

.left-column {
    width: 40%;
    padding: 20px;
    background-color: #c1c1c1;
    margin-right: 10px;

}
.right-column {
    width: 60%;
    padding: 20px;
}
/* .bar {
    display: inline-block;
    height: 8px;
    background-color: #3A0CA3;
    vertical-align: middle;
    margin-left: 10px;
    border-radius: 4px;
    position: relative;
  }
  
  .bar::after {
    content: '';
    height: 100%;
    background-color: #4caf50;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
  } */
/* .skill-container{
    direction: rtl;
} */
.skill-container {
    display: flex;
    align-items: center;
}
.language-bar {
    display: inline-block;
    height: 10px;
    background-color: #555;
    margin-left: 10px;
    vertical-align: middle;
    position: relative;
    width: 70%;
    /* margin-right: 30px; */
    
}

.language-bar::after {
    content: '';
    height: 100%;
    background-color: #4caf50;
    position: absolute;
    top: 0;
    left: 0;
}
