/* General styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color: #F5F5F5;
    /* font-family: 'Arial', sans-serif; */
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E5E5E5;
    background-color: #3A0CA3;
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 3px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.content {
    display: flex;
}

.palette-section {
    width: 10%;
    background-color: #FAF9F6;
    padding: 20px;
}

.palette ul {
    list-style-type: none;
    padding: 0;
}

.color-swatch {
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.mainanaly {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 40px;
    background-color: #FFFFFF;
}

.analy-section {
    width: 50%;
}

.analy-section h1 {
    font-size: 32px;
    color: #3A0CA3;
    padding-bottom: 12px;
}

.analy-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.analy-form label {
    font-size: 16px;
    color: #333;
}

.analy-form input[type="file"],
.analy-form textarea {
    padding: 10px 10px;
    border: 1px solid #3A0CA3;
    background-color: transparent;
    font-family: "Poppins", sans-serif;
    border-radius: 8px;
    width: 80%;
}
.analy-form input[type="file"]::file-selector-button{
    background-color: transparent;
    /* padding: 10px 10px; */
    font-weight: bold;
    color: #3A0CA3;
    border: 1px solid #3A0CA3;
    border-radius: 4px;
}
.analy-form textarea {
    resize: none;
}

.submit-btn {
    padding: 10px 20px;
    cursor: pointer;
    width: 180px;
    background-color: transparent;
    /* padding: 12px 20px 12px 20px; */
    border: none;
    border-radius: 22px;
    color: #3A0CA3;
    cursor: pointer;
    transition: all 500ms;
    border: 1px solid #3A0CA3;
    font-weight: 600;
    
}
.submit-btn:hover{
    box-shadow: 2px -2px 4px #3A0CA3;
    transition: all 500ms;
}
.visual-section {
    width: 45%;
    background-color: #EDF2F4;
    padding: 20px;
    border-radius: 10px;
    overflow-y: scroll;
    max-height: 500px;
    /* overflow: hidden; */
}
.buttondiv{
    display: flex;
    gap: 12px;
}
#content{
    white-space: pre-wrap
}
.visual-section h3 {
    color: #3A0CA3;
}


#loading-circle {
    display: inline-grid;
    font-size: 50px;
}

#loading-circle:before,
#loading-circle:after {
    content: "💯🚀"; 
    grid-area: 1/1; 
}

#loading-circle:after {
    animation: l10 1s infinite; 
}

@keyframes l10 {
    to {
        transform: scale(1.8); 
        opacity: 0; 
    }
}
