@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.footer{
    display: flex;
    height: 60px;
    background-color: #3A0CA3;
    color: #fff;
    justify-content: center;
    align-items: center;
}
.navbar{
    /* color: hotpink; */
    display: flex;
    height: 65px;
    /* background-color: #1f2833; */
    background-color: #3A0CA3;
    color: #fff;
}
.leftNav{
    color: #E5E5E5;
    font-size: 18px;
    width: 50vw;
    /* background-color: aqua; */
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 30px;
    font-weight: 500;
}
.rightNav{
    width: 50vw;
    /* background-color: saddlebrown; */
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 30px;
    font-weight: 450;
}
.menu{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #fff;
    text-decoration: none;
}
.hero{
    text-align: center;
    /* margin-top:20px; */
    background-color: #FAF9F6;
    height: 80vh;
    display: flex;
}
.heropack{
    width: 90%;
    height: 100%;
    background-color: #FFFFFF;
    margin: 0 auto;
}
.lefthero{
    /* color: white; */
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* padding-bottom: 100px; */
    gap: 13px;
}
.lefthero > h1{
    /* font-size: 38px; */
    font-size: 60px;
    color: #3A0CA3;
}
.lefthero >p{
    line-height: 20px;
    color: #333;
    font-size: 17px;
}
.neechebox{
    width: 100%;
    height: 50vw;
    /* background-color: #3A0CA3; */
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    gap: 30px;
}
.neechetext{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: justify;
    font-weight: 500;
    color: #333;
    padding-bottom: 100px;
}
.neechecenter{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
}
.btn{
    background-color: transparent;
    padding: 12px 20px 12px 20px;
    border: none;
    border-radius: 22px;
    /* box-shadow: ; */
    

    color: #3A0CA3;
    font-weight: 500;
    cursor: pointer;
    transition: all 500ms;
    border: 1px solid #3A0CA3;
    font-weight: 600
}
.btn:hover{
    box-shadow: 2px -2px 4px #3A0CA3;
    transition: all 500ms;
}
/* .righthero{
    display: flex;
    
     height: 300px; 
     width: 300px; 
    justify-content: left;
    align-items: center;
    width: 60%;
    height: 80%;
    padding: 35px 0 0 100px;
} */
/* .heroimage{
    background: url('ss.gif') 0 0;
    background-repeat:no-repeat;
    background-size: contain;
    width: 50%;
    height: 50%;
} */
#heroimg{
    width: 420px;
    height: 380px;
}

a{
    color: #66fcf1;
    text-decoration: none;
    /* font-size: 15px; */
}

.typewriter h1 {
    color: #3A0CA3;
    font-size: 45px;
    /* font-family: monospace; */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    /* letter-spacing: .25em; Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
      /* padding-bottom: 20px; */
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #3A0CA3 }
  }