{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline';"> -->
    <title>Analyzer</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/analyzer.css' %}">
</head>
<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="leftNav">
                    ResumeAts
                </div>
                <div class="rightNav">
                    <ul class="menu">
                        <li class="menuli link-71"><a href="/" class="navLinks">Home</a></li>
                        <li class="menuli link-71"><a href="/builder" class="navLinks">Builder</a></li>
                        <li class="menuli link-71"><a href="/analyzer" class="navLinks">Analyzer</a></li>
                        <li class="menuli link-71">About Us</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="content">
        <div class="palette-section">

            <div class="palette">
                <ul>
                    <li class="color-swatch" style="background-color: #F9A8D4;"></li>
                    <li class="color-swatch" style="background-color: #D4F1F4;"></li>
                    <li class="color-swatch" style="background-color: #E5E5E5;"></li>
                    <li class="color-swatch" style="background-color: #FFE066;"></li>
                    <li class="color-swatch" style="background-color: #FF6363;"></li>
                </ul>
            </div>
        </div>

        <div class="mainanaly">
            <div class="analy-section">
                <h1>Analyze Your Resume through Job Description</h1>
                <form action="" class="analy-form">
            
                    <label for="resume">Upload Resume:</label> 
                    <input type="file" id="resume" name="resume"> <br>

    
                    <label for="jobDesc">Job Description:</label>
                    <textarea id="jobDesc" name="jobDesc" rows="4" placeholder="Enter the job description"></textarea> <br>
                    <div class="buttondiv">
                        <button type="submit" class="submit-btn" >Analyze Now🚀</button>
                        <button type="button" style="display: none;" class="printbtn submit-btn" >Print Report</button>
                    </div>
                </form>
            </div>
            <div class="visual-section">
                <h3 id="visualhead">Generating your magic!</h3>
                <div id="loading-circle" class="load" style="display: none;"></div>
                <div id="content"></div>
            </div>
        </div>
    </section>
    <script>

        document.querySelector('.analy-form').addEventListener('submit', async function(event) {
    event.preventDefault();
    await dabao();
});

        async function dabao() {
            // alert("working")
            const jobDesc = document.getElementById('jobDesc').value;
            const resume = document.getElementById('resume');
            const blogContent = document.querySelector('#content');
            const visualhead = document.querySelector('#visualhead');
            const formData = new FormData()
            const loadingCircle = document.getElementById('loading-circle');
            if(resume && jobDesc){
                formData.append("desc",jobDesc)
                formData.append("pdfFile",resume.files[0])
                blogContent.innerHTML = ""
                if (loadingCircle) {
                    // alert("update")
                    loadingCircle.style.display = 'inline-grid';
                    visualhead.style.display = 'none';
                }
                // document.getElementsByClassName('load')[0].style.display = 'block';
                try{
                // alert("dsds")
                const response = await fetch("/generate",{
                    method:"POST",
                    body:formData
                })
                // alert(response)
                if(response.ok){
                    const data = await response.json();
                    // alert(data)
                    blogContent.innerHTML = data.content
                    // alert("Sucessfully send data:",data.content)
                }else{
                    blogContent.innerHTML = "Error processing file.";
                    console.error('Error Sending File',response.statusText)
                }
            
            } catch(error){
                console.error("Fetch Error:",error)
                visualhead.style.display = 'block';
            }finally {
            loadingCircle.style.display = 'none'; 
            printBtn.style.display = 'block'
            }

            } else{
                alert("upload file and text")
            }
            
            // alert(formData.text())
            // alert("dsdsd")
            
        } 
        const printBtn = document.querySelector(".printbtn");
        // const blogContent = document.querySelector('#content');
        printBtn.addEventListener("click",function(){
        let ppp = document.querySelector('#content').innerHTML
                var myWindow = window.open('','','left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0')
                myWindow.document.write(ppp)
                myWindow.print();
                myWindow.document.close();
                myWindow.focus();
                myWindow.print();
        })
    </script>
</body>
</html>
