{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="{% static 'css/classic.css' %}">
</head>
<body>

    <!-- Header -->
    <div class="center">
        <h1>{{fname}} {{lname}} </h1>
        <h2>{{role}}</h2>
        <p>
           
             {{phone}} &nbsp; | &nbsp;
            
             {{email}} &nbsp; | &nbsp;

             <!-- {{linkedin}}  &nbsp; | &nbsp; -->
            {{city}}, {{country}}
        </p>
    </div>

    <hr>

    <div class="two-columns">
        <!-- Left Column -->
        <div class="column">,
            <div class="section">

              <div class="section">
                <h2>Professional Summary</h2>
                <div>
                    <p>{{summary}}</p>
                </div>

            </div>

            <h2>Experience</h2>
                
            {% for i in internships %}
               <div>
                   <p><span class="bold">{{i.intinstitution}}</span> <span class="right">{{i.sintdate}}</span></p>
                   <p>{{i.company}}</p>
                   <p>{{i.intdesc}}</p>
               </div>
           {% endfor %}

             </div>
        </div>


        
        <div class="column">

            <div class="section">
                <h2>Education</h2>
            {% for i in education %}
                    <p><span class="bold">{{i.degree}}</span> <span class="right">{{i.date}}</span></p>
                    <p>{{i.institution}}</p>
             {% endfor %}
            </div>

            
            <div class="section">
                <h2>Courses</h2>
                {% for i in courses%}
                    <p><span class="bold">{{i.course}}</span>   <span class="right">{{i.cdate}}</span></p>
                    <p>{{i.cinstitution}}</p>
                {% endfor %}
            </div>


        
            <div class="section">
                <h2>Skills</h2>
                {% for i in skill %}
                    <p>{{i.skill}}</p>
                {% endfor %}
                    
            </div>

           
            <div class="section">
                <h2>Languages</h2>
                {% for i in languages %}
                    <p><span class="bold">{{i.language}}</span> <span class="right">{{i.proficiency}}</span></p>
                    {% endfor %}
            </div>

            
            <div class="section">
                <h2>Projects</h2>
                {% for i in projects %}
                    <p class="bold">{{i.project}}</p>
                    <p>{{i.projectdesc}}</p>
                    {% endfor %}
            </div>
        </div>
    </div>


</body>
</html>

