{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResumeAts</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.7.3/lottie.min.js"></script>
    <style>
        a{
            text-decoration: none;
            color: white;
            font-size: 16px;
        }
        .btnLink{
            text-decoration: none;
            color: #3A0CA3;
            font-weight: 600;
            font-size: 14px;
        }
        
        /* .hero{
            background-color: rgb(224, 232, 241);
            color: black;
        }
        .righthero{
            color: black;
        } */
    </style>
</head>
<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="leftNav">
                    ResumeAts
                    <!-- <img src="{% static 'images/logoVar2.png' %}" alt=""> -->
                </div>
                <div class="rightNav">
                    <ul class="menu">
                        <li class="menuli link-71"><a href="/" class="navLinks">Home</a></li>
                        <li class="menuli link-71"><a href="/builder" class="navLinks">Builder</a></li>
                        <li class="menuli link-71"><a href="/analyzer" class="navLinks">Analyzer</a></li>
                        <li class="menuli link-71">About Us</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <div class="heropack">
            <div class="hero">

                <div class="lefthero">
                    <div class="typewriter">
                        <h1>LET'S GET YOU HIRED.</h1>
                    </div>
                    <!-- <h1>LET'S GET YOU HIRED</h1> -->
                    <p>Create a Professional, job-ready resume in minutes with Resume Builder</p>
                    <button class="btn"><a href="/builder" class="btnLink">CREATE MY RESUME NOW</a></button>
                </div>
                <div class="righthero">
                    <!-- <img src="{% static 'ss.gif'%}" alt="error" id="heroimg"> -->
                </div>
            </div>

            <!-- <div class="rora"></div> -->
             <div class="neechebox">
                <div class="neechecenter">
                <div class="neechetext">
                    <h1 style="color: #3A0CA3;">Who we are?</h1>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit soluta vel accusamus enim, facere sequi incidunt voluptates reprehenderit unde molestiae deleniti omnis magnam temporibus quos accusantium suscipit, nobis, error dicta quasi at a velit tenetur laboriosam saepe? Placeat soluta maiores ab, explicabo doloremque qui commodi.
                    <button class="btn" style="width: 300px;"><a href="/analyzer" class="btnLink">ANALYZE MY RESUME NOW</a></button>
                </div>
                <video width="300" height="480" autoplay loop style="border-radius: 8px;">
                    <source src="{% static 'ats.mp4' %}" type="video/mp4">
                    Your browser does not support the video tag.
                  </video>
                </div>
             </div>
        </div>
    </section>
    <footer>
        <div class="footer">All rights Reserved | Powered By theboys &copy;</div>
    </footer>
    <script>
        // Load the animation
        var animation = lottie.loadAnimation({
            container: document.getElementsByClassName('righthero'), // the DOM element that will contain the animation
            renderer: 'svg',
            loop: true,
            autoplay: true,
            path: "{% static 'animations/noty.json' %}" // the path to the Lottie JSON file
        });
    </script>

</body>

</html>