{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="{% static 'css/minimalist.css' %}">
</head>
<body>

    <!-- Name and Contact Info -->
    <div class="center-text">
        <h1>{{fname}} {{lname}}</h1>
        <p>{{city}}, {{country}} | Phone: {{phone}}| Email: {{email}}</p>
    </div>

    <hr>

    <!-- Professional Summary -->
    <h2>Professional Summary</h2>
    <p>
        {{summary}}
    </p>

    <hr>

    <!-- Professional Experience -->
    <h2>Professional Experience</h2>

    {% for i in internships %}
    <div>
        <p><span class="bold">{{i.intinstitution}} , {{ i.company }}</span> <span class="right">{{i.sintdate}} - {{i.lintdate}}</span></p>
        <div class="clear"></div>
        <p>{{i.intdesc}}</p>
    </div>
    {% endfor %}

    <hr>

    <!-- Education -->
    <h2>Education</h2>
    {% for i in education%}
    <p>
        <span class="bold">{{i.degree}}</span> 
        <span class="right">{{i.date}}</span>
    </p>
    <div class="clear"></div>
    <p>{{i.institution}}</p>
    <!-- <p>GPA: {{i.grade}}</p> -->
    {% endfor %}

    <hr>

    <!-- Skills -->
    <h2>Programming Languages</h2>
</ul>
        {% for i in languages %}
            
            <li>{{i.language}}</li>
    
        {% endfor %}
    </ul>
    <h2>Skills</h2>
</ul>
    {% for i in skill %}
        
        <li>{{i.skill}}</li>

    {% endfor %}
</ul>

    <hr>

    <!-- Certifications -->
    <h2>Certifications</h2>
    {% for i in courses %}
    <ul>
        
        <li>{{i.course}}</li>
        
    </ul>
    {% endfor%}

    <hr>

    <!-- Projects -->
    <h2>Projects</h2>

    {% for i in projects %}
    <div>
        <p><span class="bold">{{ i.project }}</span> <span class="right">{{ i.projectyr }}</span></p>
        <div class="clear"></div>
        <p>{{projdesc}}</p>
    </div>
    {% endfor%}

</body>
</html>

