{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="{% static 'css/minimalist.css' %}">
</head>
<body>

    <!-- Name and Contact Info -->
    <div class="center-text">
        <h1>{{fname}} {{lname}}</h1>
        {% if  email  != "" and  phone  != "" and city  != "" and country != ""  %}
        <p>{{city}}, {{country}} | Phone: {{phone}}| Email: {{email}}</p>
        {% endif %}
    </div>

    <hr>

    <!-- Professional Summary -->
    {% if  summary  != "" %}
    <h2>Professional Summary</h2>
    <p>
        {{summary}}
    </p>

    <hr>
    {% endif %}

    <!-- Professional Experience -->
    {% if internships %}
    {% with first_internship=internships|first %}
        {% if first_internship.company != "no company" %}
    <h2>Professional Experience</h2>

    {% for i in internships %}
    <div>
        <p><span class="bold">{{i.intinstitution}} , {{ i.company }}</span> <span class="right">{{i.sintdate}} - {{i.lintdate}}</span></p>
        <div class="clear"></div>
        <p>{{i.intdesc}}</p>
    </div>
    {% endfor %}

    <hr>
    {% endif %}
    {% endwith %}
{% endif %}

    <!-- Education -->
    {% if education %}
    {% with first_education=education|first %}
        {% if first_education.institution != "no institution" %}
    <h2>Education</h2>
    {% for i in education%}
    <p>
        <span class="bold">{{i.degree}}</span> 
        <span class="right">{{i.date}}</span>
    </p>
    <div class="clear"></div>
    <p>{{i.institution}}</p>
    <p>Grade: {{i.grade}}</p>
    {% endfor %}

    <hr>
    {% endif %}
        {% endwith %}
    {% endif %}

    <!-- Skills -->
    {% if languages %}
    {% with first_language=languages|first %}
        {% if first_language.language != "no language" %}
    <h2>Programming Languages</h2>
</ul>
        {% for i in languages %}
            
            <li>{{i.language}}</li>
    
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
{% endif %}

    {% if skill %}
    {% with first_skill=skill|first %}
        {% if first_skill.skill != "no skill" %}
    <h2>Skills</h2>
</ul>
    {% for i in skill %}
        
        <li>{{i.skill}}</li>

    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endif %}

    <hr>

    <!-- Certifications -->
    {% if courses %}
    {% with first_course=courses|first %}
        {% if first_course.course != "no course" %}
    <h2>Certifications</h2>
    {% for i in courses %}
    <ul>
        
        <li>{{i.course}}</li>
        
    </ul>
    {% endfor%}

    <hr>
    {% endif %}
        {% endwith %}
    {% endif %}

    <!-- Projects -->
    {% if projects %}
    {% with first_project=projects|first %}
        {% if first_project.project != "no project" %}
    <h2>Projects</h2>

    {% for i in projects %}
    <div>
        <p><span class="bold">{{ i.project }}</span> <span class="right">{{ i.projectyr }}</span></p>
        <div class="clear"></div>
        <p>{{projdesc}}</p>
    </div>
    {% endfor%}
    {% endif %}
        {% endwith %}
    {% endif %}

</body>
</html>

